In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from urllib.parse import urlparse
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("dataset/new_malicious.csv")

In [9]:
df["type"]

0           phishing
1             benign
2             benign
3         defacement
4         defacement
             ...
651186      phishing
651187      phishing
651188      phishing
651189      phishing
651190      phishing
Name: type, Length: 651191, dtype: object

In [6]:
df.columns

Index(['url', 'type', 'label', 'url_len', '@', '?', '-', '=', '.', '#', '%',
       '+', '$', '!', '*', ',', '//', 'digits', 'letters', 'domain',
       'abnormal_url', 'https', 'Shortining_Service', 'having_ip_address',
       'scan_date', 'web_http_status', 'web_is_live', 'web_ext_ratio',
       'web_unique_domains', 'web_favicon', 'web_csp', 'web_xframe',
       'web_hsts', 'web_xcontent', 'web_security_score', 'web_forms_count',
       'web_password_fields', 'web_hidden_inputs', 'web_has_login',
       'web_ssl_valid', 'phish_urgency_words', 'phish_security_words',
       'phish_brand_mentions', 'phish_brand_hijack',
       'phish_multiple_subdomains', 'phish_long_path', 'phish_many_params',
       'phish_suspicious_tld', 'phish_adv_exact_brand_match',
       'phish_adv_brand_in_subdomain', 'phish_adv_brand_in_path',
       'phish_adv_hyphen_count', 'phish_adv_number_count',
       'phish_adv_suspicious_tld', 'phish_adv_long_domain',
       'phish_adv_many_subdomains', 'phish_adv_encoded_chars',
       'phish_adv_path_keywords', 'phish_adv_has_redirect',
       'phish_adv_many_params', 'path_has_hacked_terms',
       'suspicious_extension', 'path_underscore_count', 'is_gov_edu'],
      dtype='object')

In [262]:
df.drop_duplicates(inplace=True)

In [263]:

train_df, test_df = train_test_split(
    df,
    test_size=0.2,
    random_state=42,
    stratify=df["label"]
)

In [268]:
#test_df için

column_names = ['@', '?', '-', '=', '.', '#', '%','+', '$', '!', '*', ',', '//']
test_df["special_characters"] = test_df[column_names].sum(axis=1)

In [269]:
train_df.drop(columns=column_names, axis=1, inplace=True)
test_df.drop(columns=column_names, axis=1, inplace=True)

In [270]:
train_df.drop(columns=["type"], axis=1, inplace=True)
test_df.drop(columns=["type"], axis=1, inplace=True)

In [271]:
def get_path_deep(url):
    path_deep = 0
    parsed = urlparse(url)
    path = parsed.path
    path_deep = path.count('/')
    return path_deep

def is_path_deep(path_deep):
    return 1 if path_deep > 3 else 0

def get_path_underscore(url):
    path_underscore = 0
    parsed = urlparse(url)
    path = parsed.path
    path_underscore = path.count("_")
    return path_underscore

def has_index_php(url):
    parsed = urlparse(url)
    path = parsed.path
    return 1 if 'index.php' in path.lower() else 0

def has_option_param(url):
    return 1 if 'option' in url.lower() else 0

In [272]:
#train_df için

train_df["path_deep"] = train_df["url"].apply(lambda x : get_path_deep(x))
train_df["is_path_deep"] = train_df["path_deep"].apply(lambda x : is_path_deep(x))
train_df["get_path_underscore_count"] = train_df["url"].apply(lambda x : get_path_underscore(x))
train_df["has_index_php"] = train_df["url"].apply(lambda x : has_index_php(x))
train_df["has_option_param"] = train_df["url"].apply(lambda x : has_option_param(x))

In [273]:
#test_df için

test_df["path_deep"] = test_df["url"].apply(lambda x : get_path_deep(x))
test_df["is_path_deep"] = test_df["path_deep"].apply(lambda x : is_path_deep(x))
test_df["get_path_underscore_count"] = test_df["url"].apply(lambda x : get_path_underscore(x))
test_df["has_index_php"] = test_df["url"].apply(lambda x : has_index_php(x))
test_df["has_option_param"] = test_df["url"].apply(lambda x : has_option_param(x))

In [274]:
train_df.drop(columns="url",axis=1,inplace=True)
test_df.drop(columns="url",axis=1,inplace=True)

In [275]:
train_df.drop_duplicates(inplace=True)
test_df.drop_duplicates(inplace=True)

In [276]:
train_df

,label,url_len,digits,letters,abnormal_url,https,Shortining_Service,having_ip_address,scan_date,web_http_status,...,path_has_hacked_terms,suspicious_extension,path_underscore_count,is_gov_edu,special_characters,path_deep,is_path_deep,get_path_underscore_count,has_index_php,has_option_param
550854,3,50,4,37,0,1,0,0,2025-12-03 16:56:18,403,...,0,0,0,0,5,2,0,0,0,0
373636,0,50,5,40,1,0,0,0,2025-12-03 16:04:07,0,...,0,1,0,0,2,3,0,0,0,0
90781,0,8,0,6,1,0,0,0,2025-12-03 15:09:37,0,...,0,0,0,0,1,1,0,0,0,0
186628,0,71,6,55,1,0,0,0,2025-12-03 15:27:10,0,...,0,0,6,0,3,1,0,6,0,0
431309,0,38,4,28,1,0,0,0,2025-12-03 16:15:21,0,...,0,0,0,0,3,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245576,3,72,20,28,0,0,0,0,2025-12-03 15:38:50,200,...,0,0,0,0,20,2,0,0,0,0
16295,0,22,0,19,1,0,0,0,2025-12-03 14:56:24,0,...,0,0,0,0,2,1,0,0,0,0
192155,0,30,0,26,1,0,0,0,2025-12-03 15:28:09,0,...,0,0,1,0,1,2,0,1,0,0
188470,0,12,0,9,1,0,0,0,2025-12-03 15:27:32,0,...,0,0,0,0,2,1,0,0,0,0
92768,0,43,6,31,1,0,0,0,2025-12-03 15:10:01,0,...,0,1,0,0,2,4,1,0,0,0

In [277]:
# divide scan_date to year, month, day ... 

def scan_date_year(scan_date):
    year = scan_date[:4]
    year_int = int(year)
    return year_int
def scan_date_month(scan_date):
    month = scan_date[5:7]
    month_int = int(month)
    return month_int
def scan_date_day(scan_date):
    day = scan_date[8:10]
    day_int = int(day)
    return day_int
def scan_date_hour(scan_date):
    hour = scan_date[11:13]
    hour_int = int(hour)
    return hour_int
def scan_date_minute(scan_date):
    minute = scan_date[14:16]
    minute_int = int(minute)
    return minute_int
def scan_date_second(scan_date):
    second = scan_date[17:19]
    second_int = int(second)
    return second_int

In [278]:


#train_df

train_df['year'] = train_df['scan_date'].apply(lambda x : (scan_date_year(x)))
train_df['month'] = train_df['scan_date'].apply(lambda x : (scan_date_month(x)))
train_df['day'] = train_df['scan_date'].apply(lambda x : (scan_date_day(x)))
train_df['hour'] = train_df['scan_date'].apply(lambda x : (scan_date_hour(x)))
train_df['minute'] = train_df['scan_date'].apply(lambda x : (scan_date_minute(x)))
train_df['second'] = train_df['scan_date'].apply(lambda x : (scan_date_second(x)))

In [ ]:

#test_df

test_df['year'] = test_df['scan_date'].apply(lambda x : (scan_date_year(x)))
test_df['month'] = test_df['scan_date'].apply(lambda x : (scan_date_month(x)))
test_df['day'] = test_df['scan_date'].apply(lambda x : (scan_date_day(x)))
test_df['hour'] = test_df['scan_date'].apply(lambda x : (scan_date_hour(x)))
test_df['minute'] = test_df['scan_date'].apply(lambda x : (scan_date_minute(x)))
test_df['second'] = test_df['scan_date'].apply(lambda x : (scan_date_second(x)))

In [280]:
train_df

,label,url_len,digits,letters,abnormal_url,https,Shortining_Service,having_ip_address,scan_date,web_http_status,...,is_path_deep,get_path_underscore_count,has_index_php,has_option_param,year,month,day,hour,minute,second
550854,3,50,4,37,0,1,0,0,2025-12-03 16:56:18,403,...,0,0,0,0,2025,12,3,16,56,18
373636,0,50,5,40,1,0,0,0,2025-12-03 16:04:07,0,...,0,0,0,0,2025,12,3,16,4,7
90781,0,8,0,6,1,0,0,0,2025-12-03 15:09:37,0,...,0,0,0,0,2025,12,3,15,9,37
186628,0,71,6,55,1,0,0,0,2025-12-03 15:27:10,0,...,0,6,0,0,2025,12,3,15,27,10
431309,0,38,4,28,1,0,0,0,2025-12-03 16:15:21,0,...,0,0,0,0,2025,12,3,16,15,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245576,3,72,20,28,0,0,0,0,2025-12-03 15:38:50,200,...,0,0,0,0,2025,12,3,15,38,50
16295,0,22,0,19,1,0,0,0,2025-12-03 14:56:24,0,...,0,0,0,0,2025,12,3,14,56,24
192155,0,30,0,26,1,0,0,0,2025-12-03 15:28:09,0,...,0,1,0,0,2025,12,3,15,28,9
188470,0,12,0,9,1,0,0,0,2025-12-03 15:27:32,0,...,0,0,0,0,2025,12,3,15,27,32
92768,0,43,6,31,1,0,0,0,2025-12-03 15:10:01,0,...,1,0,0,0,2025,12,3,15,10,1

In [281]:

train_df.drop(columns="scan_date", axis=1, inplace =True)
test_df.drop(columns="scan_date", axis=1, inplace =True)

In [282]:
train_df

,label,url_len,digits,letters,abnormal_url,https,Shortining_Service,having_ip_address,web_http_status,web_is_live,...,is_path_deep,get_path_underscore_count,has_index_php,has_option_param,year,month,day,hour,minute,second
550854,3,50,4,37,0,1,0,0,403,0,...,0,0,0,0,2025,12,3,16,56,18
373636,0,50,5,40,1,0,0,0,0,0,...,0,0,0,0,2025,12,3,16,4,7
90781,0,8,0,6,1,0,0,0,0,0,...,0,0,0,0,2025,12,3,15,9,37
186628,0,71,6,55,1,0,0,0,0,0,...,0,6,0,0,2025,12,3,15,27,10
431309,0,38,4,28,1,0,0,0,0,0,...,0,0,0,0,2025,12,3,16,15,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245576,3,72,20,28,0,0,0,0,200,1,...,0,0,0,0,2025,12,3,15,38,50
16295,0,22,0,19,1,0,0,0,0,0,...,0,0,0,0,2025,12,3,14,56,24
192155,0,30,0,26,1,0,0,0,0,0,...,0,1,0,0,2025,12,3,15,28,9
188470,0,12,0,9,1,0,0,0,0,0,...,0,0,0,0,2025,12,3,15,27,32
92768,0,43,6,31,1,0,0,0,0,0,...,1,0,0,0,2025,12,3,15,10,1

In [283]:
train_df['hour_normalized'] = (train_df['hour'] - train_df['hour'].min()) / (train_df['hour'].max() - train_df['hour'].min())
train_df['minute_normalized'] = (train_df['minute'] - train_df['minute'].min()) / (train_df['minute'].max() - train_df['minute'].min())
train_df['second_normalized'] = (train_df['second'] - train_df['second'].min()) / (train_df['second'].max() - train_df['second'].min())

In [284]:
test_df['hour_normalized'] = (test_df['hour'] - test_df['hour'].min()) / (test_df['hour'].max() - test_df['hour'].min())
test_df['minute_normalized'] = (test_df['minute'] - test_df['minute'].min()) / (test_df['minute'].max() - test_df['minute'].min())
test_df['second_normalized'] = (test_df['second'] - test_df['second'].min()) / (test_df['second'].max() - test_df['second'].min())

In [285]:
train_df

,label,url_len,digits,letters,abnormal_url,https,Shortining_Service,having_ip_address,web_http_status,web_is_live,...,has_option_param,year,month,day,hour,minute,second,hour_normalized,minute_normalized,second_normalized
550854,3,50,4,37,0,1,0,0,403,0,...,0,2025,12,3,16,56,18,0.666667,0.949153,0.305085
373636,0,50,5,40,1,0,0,0,0,0,...,0,2025,12,3,16,4,7,0.666667,0.067797,0.118644
90781,0,8,0,6,1,0,0,0,0,0,...,0,2025,12,3,15,9,37,0.333333,0.152542,0.627119
186628,0,71,6,55,1,0,0,0,0,0,...,0,2025,12,3,15,27,10,0.333333,0.457627,0.169492
431309,0,38,4,28,1,0,0,0,0,0,...,0,2025,12,3,16,15,21,0.666667,0.254237,0.355932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245576,3,72,20,28,0,0,0,0,200,1,...,0,2025,12,3,15,38,50,0.333333,0.644068,0.847458
16295,0,22,0,19,1,0,0,0,0,0,...,0,2025,12,3,14,56,24,0.000000,0.949153,0.406780
192155,0,30,0,26,1,0,0,0,0,0,...,0,2025,12,3,15,28,9,0.333333,0.474576,0.152542
188470,0,12,0,9,1,0,0,0,0,0,...,0,2025,12,3,15,27,32,0.333333,0.457627,0.542373
92768,0,43,6,31,1,0,0,0,0,0,...,0,2025,12,3,15,10,1,0.333333,0.169492,0.016949

In [286]:
train_df.drop(["year", "month", "day", "hour", "minute", "second"], axis=1, inplace=True)
test_df.drop(["year", "month", "day", "hour", "minute", "second"], axis=1, inplace=True)

In [287]:
train_df

,label,url_len,digits,letters,abnormal_url,https,Shortining_Service,having_ip_address,web_http_status,web_is_live,...,is_gov_edu,special_characters,path_deep,is_path_deep,get_path_underscore_count,has_index_php,has_option_param,hour_normalized,minute_normalized,second_normalized
550854,3,50,4,37,0,1,0,0,403,0,...,0,5,2,0,0,0,0,0.666667,0.949153,0.305085
373636,0,50,5,40,1,0,0,0,0,0,...,0,2,3,0,0,0,0,0.666667,0.067797,0.118644
90781,0,8,0,6,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0.333333,0.152542,0.627119
186628,0,71,6,55,1,0,0,0,0,0,...,0,3,1,0,6,0,0,0.333333,0.457627,0.169492
431309,0,38,4,28,1,0,0,0,0,0,...,0,3,3,0,0,0,0,0.666667,0.254237,0.355932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245576,3,72,20,28,0,0,0,0,200,1,...,0,20,2,0,0,0,0,0.333333,0.644068,0.847458
16295,0,22,0,19,1,0,0,0,0,0,...,0,2,1,0,0,0,0,0.000000,0.949153,0.406780
192155,0,30,0,26,1,0,0,0,0,0,...,0,1,2,0,1,0,0,0.333333,0.474576,0.152542
188470,0,12,0,9,1,0,0,0,0,0,...,0,2,1,0,0,0,0,0.333333,0.457627,0.542373
92768,0,43,6,31,1,0,0,0,0,0,...,0,2,4,1,0,0,0,0.333333,0.169492,0.016949

In [288]:
train_df.drop_duplicates(inplace=True)
test_df.drop_duplicates(inplace=True)

In [289]:
train_df

,label,url_len,digits,letters,abnormal_url,https,Shortining_Service,having_ip_address,web_http_status,web_is_live,...,is_gov_edu,special_characters,path_deep,is_path_deep,get_path_underscore_count,has_index_php,has_option_param,hour_normalized,minute_normalized,second_normalized
550854,3,50,4,37,0,1,0,0,403,0,...,0,5,2,0,0,0,0,0.666667,0.949153,0.305085
373636,0,50,5,40,1,0,0,0,0,0,...,0,2,3,0,0,0,0,0.666667,0.067797,0.118644
90781,0,8,0,6,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0.333333,0.152542,0.627119
186628,0,71,6,55,1,0,0,0,0,0,...,0,3,1,0,6,0,0,0.333333,0.457627,0.169492
431309,0,38,4,28,1,0,0,0,0,0,...,0,3,3,0,0,0,0,0.666667,0.254237,0.355932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245576,3,72,20,28,0,0,0,0,200,1,...,0,20,2,0,0,0,0,0.333333,0.644068,0.847458
16295,0,22,0,19,1,0,0,0,0,0,...,0,2,1,0,0,0,0,0.000000,0.949153,0.406780
192155,0,30,0,26,1,0,0,0,0,0,...,0,1,2,0,1,0,0,0.333333,0.474576,0.152542
188470,0,12,0,9,1,0,0,0,0,0,...,0,2,1,0,0,0,0,0.333333,0.457627,0.542373
92768,0,43,6,31,1,0,0,0,0,0,...,0,2,4,1,0,0,0,0.333333,0.169492,0.016949

In [290]:
#shuffle
test_df = test_df.sample(frac=1, random_state=42)
train_df = train_df.sample(frac=1, random_state=42)

In [ ]:
train_df.to_csv("dataset/train_processed_last_version.csv", index=False)
test_df.to_csv("dataset/test_processed_last_version.csv", index=False)